
<form action="/a1/" method="post">
    <p><label><b>Berechne 0,5 + 0,25 </b></label></p>
    <p><input type="text" name="a1" id="a1" class="exerciseInput">   &emsp;
        <span role="alert" id="c1" style="display: none"></span>
    </p>
    <p><button onclick="validate(1)" class="btn btn-light checkBtn">Prüfen</button></p>
</form>

<hr>
<form action="/a2/" method="post">
    <p><label><b>Berechne 5,1 - 3,5</b> </label></p>
    <p><input type="text" name="a2" class="exerciseInput"></p>
    <p><button class="btn btn-light checkBtn">Prüfen</button></p>
</form>

<hr>

<form action="/a3/" method="post">
    <p><label><b>Berechne 0,4 * 0,4 </b></label></p>
    <p><input type="text" id="i3" class="exerciseInput"></p>
    <p><button class="btn btn-light checkBtn">Prüfen</button></p>
</form>

<hr>

<form action="/a4/" method="post">
    <p><label><b>Berechne 1,3 : 0,2 </b></label></p>
    <p><input type="text" id="i4" class="exerciseInput"></p>
    <p><button class="btn btn-light checkBtn">Prüfen</button></p>
</form>
<hr>
<span id="breakLine"></span>

<br>
<a href="#">Zum nächsten Arbeitsblatt</a>



<h3>Dezimalzahlen </h3>
        
        <!-- ################################################################################ -->
        <hr class="my-4"><br>
        <p class="lead"  style="text-align: left;">
            
        <u><b>Aufgabe 1</b></u>: Trage die entsprechende Dezimalzahl ein ( z.B. <span class="frac"><sup>1</sup><sub class="i1">10</sub></span> = 0,1).

        </p>
        <center style="font-size: 16pt">
        
            a)  <span class="frac"><sup>7&nbsp;</sup><sub class="i1">&nbsp;10</sub></span> = <input></input>  &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
            b) <span class="frac"><sup>41&nbsp;</sup><sub class="i1">&nbsp;100</sub></span> =  <input></input>     
            <br><br>
            c) <span class="frac"><sup>27&nbsp;</sup><sub class="i1">&nbsp;1000</sub></span> = <input></input> &emsp;&emsp;&emsp;&emsp;
            d)  <span class="frac"><sup>587&nbsp;</sup><sub class="i1">&nbsp;10000</sub></span> = <input></input>
        <br><br>
        
        <button type="button" class="btn btn-primary btn">Prüfen &nbsp;<i class="fa fa-paper-plane"></i></button>



        </center>

        <!-- ################################################################################ -->
        <hr class="my-4"><br>
        <p class="lead"  style="text-align: left;">
            
        <u><b>Aufgabe 2</b></u>: Schreibe die Zahlen als Bruch (z.B. 0,1 = <span class="frac"><sup>1</sup><sub class="i1">10</sub></span>).

        </p>
        <center style="font-size: 16pt">
        a) 0,9 = <span class="frac"><sup><input></input></sup><sub><input class="i1"></input></sub></span> &emsp;&emsp;&emsp;&emsp;
        b) 0,531 = <span class="frac"><sup><input></input></sup><sub><input class="i1"></input></sub></span>    &emsp;&emsp;&emsp;&emsp;
        c) 0,93 = <span class="frac"><sup><input></input></sup><sub><input class="i1"></input></sub></span>
        <br><br>
        
        <button type="button" class="btn btn-primary btn">Prüfen &nbsp;<i class="fa fa-paper-plane"></i></button>

        </center>


        



<br><br>

<hr>

<h1>Auswertung für die Lehrkraft</h1>
<br><br> 
<h2>Kurs: 
    <span id="course"></span>
</h2>
<br><br>

<div id="container">

    <table id="ab01-table">
        <thead>
            <th>Schüler</th>
            <th>A1</th>
            <th>A2</th>
            <th>A3</th>
            <th>A4</th>
            <th>Punkte</th>
        </thead>
        <tbody></tbody>
    </table>

    <table id="ab02-table">
        <thead>
            <th>Schüler</th>
            <th>A1</th>
            <th>A2</th>
            <th>A3</th>
            <th>A4</th>
            <th>Punkte</th>
        </thead>
        <tbody></tbody>
    </table>

</div>

Name: <input id="nameId" type="text" value="..."><br><br>
<input id="buttonId" onclick="test()" type="submit"><br><br>

<div id="containerId"><div>


<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript">

    function validate(num) {

        const input = document.getElementById("a" + num);

        if (input.value == 0.75) {
            input.style.border = "3px solid green";
            input.style.color = "green";

            return 1;

        } else {
        console.log("validate");
            var correction = document.getElementById("c1");
            var breakLine = document.getElementById("breakLine");

            input.style.border = "3px solid red";
            input.style.color = "red";
            input.style.textDecoration = "line-through";

            correction.style.display = "inline-block";
            correction.style.color = "grey";

            correction.innerHTML += "0,75";

            breakLine.innerHTML += 0.75;

            return 0;
        }

          return JSON.stringify(context);
    }

    /*var myName;
    var myTemplate = $('#myTempId').html();
    var compiled = Handlebars.compile(myTemplate);

    $('#buttonId').click(function(){
    myName = $('#nameId').val();
    $('#containerId').html(compiled({name:myName}));
    });*/
</script>