
{{#if alert}}
<div class="alert alert-success alert-dismissible fade show" role="alert">
  {{alert}}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{{/if}}

<div class="login">
    <h1>Login</h1>
    <form action="/auth/" method="post">
        <label for="username">
            <i class="fas fa-user"></i>
        </label>
        <input type="text" id="username" name="username" placeholder="Benutzername" required>
        <label for="password">
            <i class="fas fa-lock"></i>
        </label>
        <input type="password" id="password" name="password" placeholder="Passwort" required>
        <input type="submit"  name="submit" value="Einloggen">

    </form>
</div>
