
<h1>Load Data from text file </h1>

<button type="button" onclick="loadDoc()">Change Content</button>

<script>

    var xmlhttp;
    if (window.XMLHttpRequest)
    {// code for IE7+, Firefox, Chrome, Opera, Safari
    xmlhttp=new XMLHttpRequest();
    }
    else
    {// code for IE6, IE5
    xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
    }
    xmlhttp.onreadystatechange=function()
    {
    if (xmlhttp.readyState==4 && xmlhttp.status==200)
    {
    alert('done')
    }
    }

    xmlhttp.open("POST","info.txt",true);
    xmlhttp.setRequestHeader("Content-type","application/x-www-form-urlencoded");
    xmlhttp.send("name=Joel");


    /*function loadDoc() {
      var xhttp = new XMLHttpRequest();
      xhttp.open("GET", "info.txt", true);
      xhttp.send();
      document.getElementById("demo").innerHTML = xhttp.responseText;
    }*/
</script>